<h1>Listing items</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
<!--     <td><%= link_to 'Show', [item.list, item] %></td> -->
    <td><%= link_to 'Show', list_item_path(item.list, item) %></td>
    <td><%= link_to 'Edit', edit_list_item_path(item.list, item) %></td>
    <td><%= link_to 'Destroy', [item.list, item], data: { confirm: 'Are you sure?' }, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_list_item_path %> <!-- /lists/:list_id/items/new -->
